/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: rgb(8, 88, 119);
  transition: all 0.5s ease;

}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: rgb(8, 57, 77);
}

.sidebar .nav-links li a:hover {
  background: rgb(8, 57, 77);
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.text-right {
  text-align: right;
}

.text-right i {
  font-size: 20px;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}



table {
  font-family: arial, sans-serif;
  width: 95%;
  padding: 2rem 0 0 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  z-index: 200;
}

.loader.show {
  display: block;
}

.loader.hide {
  display: none;
}

.loader-body {
  height: 150px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 18%;
}

.loader-body img {
  width: 100px;
  height: 100px;
  margin-top: 3%;
  margin-left: 35%;
}

.loader-body p {
  text-align: center;
  margin-top: -20px;
}

.workers-table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 95%;
}

.workers-table-header .title {
  font-size: 24px;
  font-weight: 500;
}

.workers-table-header .button a:hover {
  background: #fff;
  color: #085877;
}

.workers-table-header .button a {
  color: #fff;
  background: #085877;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  float: right;
  margin: 0 2rem;
  border: 1px solid #085877;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  background-color: #00000080;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal h1 {
  font-weight: 600;
}

.modal form {
  margin-top: 1rem;
}

.modal .input-section {
  margin: 2rem;
}

.label-container {
  margin: 10px 3rem;
}

.btn-container {
  margin: auto;
  text-align: center;
}

.submit-btn {
  width: 100%;
  background-color: #085877;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #085877;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #fff;
  color: #085877;
}

.btn-section {
  margin: auto;
  width: 25%;
}

.modal .modal-content .input-section form input[type=text],
select {
  padding: 12px 20px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  min-height: 200px;
  margin-top: 7rem;
}

.close-button {
  float: right;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.no-data-text {
  text-align: center;
  font-size: large;
}

.workers-section {
  padding: 8rem 0 0 18rem;
}


/* file upload */
input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.file-area {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #085877;
  color: #085877;
}

.file-label {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  margin-top: 1rem;
}

.filename {
  height: 20px;
  margin-top: 1rem;
}


.update-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.update-hide-modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.update-modal h1 {
  font-weight: 600;
}

.update-modal form {
  margin-top: 1rem;
}

.update-modal .input-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}


.badge-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.badge-hide-modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.badge-modal h1 {
  font-weight: 600;
}

.badge-modal form {
  margin-top: 1rem;
}

.badge-modal .input-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.user-badge {
  align-items: center;
  border: 1px solid #eee;
  width: 500px;
  padding: 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: #0d5278;
  color: #fff;
}

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-container img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.user-info-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.user-info-section #name {
  font-size: 2rem;
  font-weight: 600;
}

.user-info-section #ategory {
  font-size: 1.25rem;
}











/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }

  .loader {
    left: 0;
    right: 0;
  }

  .loader .loader-body {
    margin-left: 40px;
    margin-right: 0;
    margin-top: 50px;
  }

  .workers-section {
    padding-left: 15px;
  }

  .workers-section .workers-table-header{
    margin-left: 20px;
  }

}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}